.root {
    -fx-padding: 0px;
    -fx-spacing: 0px;
}

.navigationBar {
    -fx-background-color: #dfdfdf;

    -fx-border-style: solid;
    -fx-border-color: #202020;
    -fx-border-width: 0px;
    -fx-padding: 10 0 0 0;
}

.navigationBar Button {
    -fx-min-width: 80px;
    -fx-border-radius: 10px;
    -fx-background-color: #5490ff;
    -fx-text-fill: white;

}

.pane {
    -fx-padding: 40px;
}

.addItemPane {
    -fx-padding: 40px;
    -fx-spacing: 20px;
}


.addItemButton {
    -fx-font-size: 26px;
    -fx-border-radius: 20px;
    -fx-background-color: #5490ff;
    -fx-text-fill: white;
    -fx-min-width: 55px;
    -fx-min-height: 40px;

}

.pageTitleLabel {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-border-radius: 20px;
    -fx-text-fill: #5490ff;
}

.reportTabs {
    -fx-background-color: white;
}

.addReportTextField {

}

.addReportLabel {
    -fx-padding: 25 5 0 0;
}

.scrollPane {
    -fx-background-color: white;
}

.addReportPane {
    -fx-background-color: white;
    -fx-padding: 15;
}