.root {
    -fx-padding: 0px;
    -fx-spacing: 0px;
}

.navigationBar {
    -fx-background-color: #dfdfdf;

    -fx-border-style: solid;
    -fx-border-color: #202020;
    -fx-border-width: 0px;
    -fx-padding: 10 0 0 0;
}

.navigationBar Button {
    -fx-min-width: 80px;
    -fx-border-radius: 10px;
    -fx-background-color: #5490ff;
    -fx-text-fill: white;

}

.pane {
    -fx-padding: 40px;
    -fx-background-color: white;
}

.addItemPane {
    -fx-padding: 40px;
    -fx-spacing: 20px;
}


.addItemButton {
    -fx-font-size: 26px;
    -fx-border-radius: 20px;
    -fx-background-color: #5490ff;
    -fx-text-fill: white;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;

}

.pageTitleLabel {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-border-radius: 20px;
    -fx-text-fill: #5490ff;
}

.reportTabs {
    -fx-background-color: white;
}

.addReportTextField {

}

.addReportLabel {
    -fx-padding: 25 5 0 0;
}

.scrollPane {
    -fx-background-color: white;
}

.addReportPane {
    -fx-background-color: white;
    -fx-padding: 15;
}

.tab-pane {
    -fx-background-color: white;
}

.tab-pane .tab-header-area {
    -fx-pref-height: 40;
}

.tab-pane .tab-header-background {
    -fx-background-color: white;
}

.tab-pane .tab {
    -fx-background-color: #5490ff;
    -fx-pref-width: 152;
    -fx-pref-height: 30;
    -fx-text-fill: #dfdfdf;;
}

.tab-pane .tab:selected {
    -fx-background-color: #427ce5;
}

.tab-pane .tab-label {
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-pref-height: 30;
}


