# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Local environment variables
.env

# SQL Server data files
*.mdf
*.ldf
*.ndf
